.select2-selection__choice {
    background-color: #453397 !important;
}
.image_detail_product{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.container_image_detail{
    margin-top: 20px;
}
.feature_image{
    width: 150px;
    height: 150px;
}
.feature_image_container{
    margin-top: 20px;
}
